.left
  = form_tag('/epp_test') do
    = text_area_tag(:payload, params[:payload], style: 'width: 700px; height: 300px;')
    %br
    = button_tag 'EPP Request as Zone', name: 'epp_request_zone'
    = button_tag 'EPP Request as Elkdata', name: 'epp_request_elkdata'
.left{style: 'width: 500px'}
  %h4 Domain
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'domain', epp_action: 'create'}}
    Create
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'domain', epp_action: 'create_detailed'}}
    Create (detailed)
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'domain', epp_action: 'update'}}
    Update
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'domain', epp_action: 'update_add'}}
    Update (add)
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'domain', epp_action: 'update_remove'}}
    Update (remove)
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'domain', epp_action: 'update_all'}}
    Update (all)
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'domain', epp_action: 'info'}}
    Info
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'domain', epp_action: 'renew'}}
    Renew
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'domain', epp_action: 'check'}}
    Check
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'domain', epp_action: 'transfer'}}
    Transfer

  %h4 Contact
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'contact', epp_action: 'create'}}
    Create
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'contact', epp_action: 'check'}}
    Check
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'contact', epp_action: 'check_multiple'}}
    Check(multiple)
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'contact', epp_action: 'delete'}}
    Delete
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'contact', epp_action: 'info'}}
    Info
  ,
  %a.js-load-xml{href: 'javascript:void(0)', data: {obj: 'contact', epp_action: 'update_chg'}}
    Update(chg)

.clear
  %hr
  = CodeRay.scan(@result, :xml).div(:line_numbers => :table).html_safe
